{% extends 'base.html' %}
{% block body %}

    <div id="app" v-cloak>


    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到美多商城!
                <iframe scrolling="no" src="https://tianqiapi.com/api.php?style=tc&skin=pitaya" frameborder="0" width="350" height="16" allowtransparency="true"></iframe>
            </div>
            <div class="fr">
                <div class="login_btn fl" v-if="username">
                    欢迎您：<em>[[ username ]]</em>
                    <span>|</span>
                    <a href="/logout/" class="quit">退出</a>
                </div>
                <div class="login_btn fl" v-else>
                    <a href="/login/">登录</a>
                    <span>|</span>
                    <a href="/register/">注册</a>
                </div>

                <div class="user_link fl">
                    <span>|</span>
                    <a href="/info/">用户中心</a>
                    <span>|</span>
                    <a href="/carts/">我的购物车</a>
                    <span>|</span>
                    <a href="/orders/info/1/">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search_bar clearfix">
        <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="search_wrap fl">
            <form method="get" action="/search/" class="search_con">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li><a href="#">索尼微单</a></li>
                <li><a href="#">优惠15元</a></li>
                <li><a href="#">美妆个护</a></li>
                <li><a href="#">买2免1</a></li>
            </ul>
        </div>

        <div @mouseenter="get_carts" class="guest_cart fr" v-cloak>
            <a href="/carts/" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">[[ cart_total_count ]]</div>
            <ul class="cart_goods_show">
                <li v-for="sku in carts">
                    <img :src="sku.default_image_url" alt="商品图片">
                    <h4>[[ sku.name ]]</h4>
                    <div>[[ sku.count ]]</div>
                </li>
            </ul>
        </div>
    </div>


    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">商品分类</h1>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="/coupon/">领券中心</a></li>
                <li class="interval">|</li>
                <li><a href="/coupon_god/">推荐有奖</a></li>
            </ul>
        </div>
    </div>

    <div class="pos_center_con clearfix">
        <ul class="slide">
            {#             轮播图#}
            {% for content in contents.index_lbt %}
                <li><a href="{{ content.url }}"><img src="{{ content.image.url }}" alt="{{ content.title }}"></a></li>
            {% endfor %}
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points">
        </ul>
        <ul class="sub_menu">
            {#             商品分类 --------#}
            {% for group in categories.values() %}
                <li>
                    <div class="level1">
                        {#                         最左边 1级 主分类#}
                        {% for channel in group.channels %}
                            <a href="{{ channel.url }}">{{ channel.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="level2">
                        {#                         中间 2级 次分类#}
                        {% for cat2 in group.sub_cats %}
                            <div class="list_group">
                                <div class="group_name fl">{{ cat2.name }} &gt;</div>
                                <div class="group_detail fl">
                                    {#                                     最右边 3级 分类#}
                                    {% for cat3 in cat2.sub_cats %}
                                        <a href="/list/{{ cat3.id }}/1/">{{ cat3.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="news">
            <div class="news_title">
                <h3>快讯</h3>
                <a href="#">更多 &gt;</a>
            </div>
            <ul class="news_list">
                {#                   快讯#}
                {% for content in contents.index_kx %}
                    <li><a href="{{ content.url }}">{{ content.title }}</a></li>
                {% endfor %}
            </ul>
            {#               页头广告#}
            {% for content in contents.index_ytgg %}
                <a href="{{ content.url }}" class="advs"><img src="{{ content.image.url }}"></a>
            {% endfor %}
        </div>
    </div>

    {#          下面是优惠券部分 #}
    <div class="coupon_sams" id="coupon_all">

        {#        <div >#}

        <div v-for="(coupon,index) in coupons" :class="color[coupon.color]">

            <div class="coupon-info coupon-hole coupon-info-right-dashed">
                <div class="coupon-price">[[ coupon.discount ]]<span>[[ coupon.threshold ]]</span></div>
                <div class="coupon-description"><a :href="coupon.select_url" class="coupon-select">[[ coupon.select
                    ]]</a></div>
                <div class="coupon-expiry-date">有效期：[[ coupon.expiry_date ]]</div>
            </div>

            <div class="coupon-get coupon-get-already" v-if="coupon.status == 'False'">
                <div class="coupon-desc"><a :href="coupon.select_url" class="coupon-select">进 场 看 看</a></div>
            </div>
            <div class="coupon-get" v-else>
                <div class="coupon-desc"><a href="javascript:;" @click="receive_a_coupon(coupon.id,index)"
                                            class="coupon-select">立 即 领 取</a></div>
            </div>

        </div>

    </div>
    {# 上面是优惠券部分#}

{% endblock body %}
{% block script %}
</div>
<script type="text/javascript" src="/static/js/slide.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/coupon.js"></script>
</body>
</html>
{% endblock %}