{% extends 'base.html' %}
{% block body %}
<body>
<div class="login_top clearfix">
    <a href="/" class="login_logo"><img src="{{ static('images/logo02.png') }}"></a>
</div>

<div class="login_form_bg" id="app">
    <div class="login_form_wrap clearfix">
        <div class="login_banner fl"></div>
        <div class="slogan fl">商品美 · 种类多 · 欢迎光临</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <a href="javascript:;" class="cur">账户登录</a>
            </div>
            <div class="form_con">
                <div class="form_input cur">
                    <form method="post" id="login-form" @submit="on_submit">
                        {{ csrf_input }}
                        <input type="text" v-model="username" @blur="check_username" name="username" class="name_input"
                               placeholder="请输入用户名或手机号">
                        <div v-show="error_username" class="user_error" v-cloak>请输入正确的用户名或手机号</div>
                        <input type="password" v-model="password" @blur="check_pwd" name="password" class="pass_input"
                               placeholder="请输入密码">
                        <div v-show="error_pwd" class="pwd_error" v-cloak>密码最少8位，最长20位</div>
                        {% if account_errmsg %}
                            <div class="pwd_error">{{ account_errmsg }}</div>
                        {% endif %}
                        <div class="more_input clearfix">
                            <input type="checkbox" v-model="remembered" name="remembered">
                            <label>记住登录</label>
                            <a href="/find_password">忘记密码</a>
                        </div>
                        <input type="submit" value="登 录" class="input_submit">
                    </form>
                </div>
            </div>
            <div class="third_party">
                <a @click="qq_login" class="qq_login">QQ</a>
                <a href="#" class="weixin_login">微信</a>
                <a href="#" class="weibo_login" @click="weibo_login">微博</a>
                <a href="{{ url ('users:register') }}" class="register_btn">立即注册</a>
            </div>

        </div>
    </div>
</div>
{% endblock body %}
{% block script %}
<script>

</script>
<script type="text/javascript" src="{{ static('js/login.js') }}"></script>
<script type="text/javascript" src="{{ static('js/common.js') }}"></script>
</body>
</html>
{% endblock %}