/* 所有的元素的外边距和内边距都为0, 项目列表前的类型为无 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 1000px;
}

/* 插入背景图片 图片位于右下角不显示 */
/* .ad { background: url(images/ad.jpg); width: 280px; height: 0px; */
.ad {
    background: url("/static/images/apple/iphone.png") no-repeat 50px 0px;
    width: 280px;
    height: 0px;
    /* position:fixed生成绝对定位的元素，相对于浏览器窗口进行定位。right:0靠右bottom:0底部 */
    position: fixed;
    right: 0px;
    bottom: 0px;
}

/* 生成绝对定位的元素,相对于static定位以外的第一个父元素进行定位.static默认值.没有定位,元素出现在正常的流中
text-decoration: none 默认。定义标准的文本（文字没有下划线）*/
.close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
}